##Libraries

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
#Import modules required by Acis
import urllib.request
import urllib.error
import json

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import datetime
import numpy as np
import pandas as pd

In [ ]:
import tensorflow
device_name = tensorflow.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))
print("TensorFlow version:", tensorflow.__version__)

Found GPU at: /device:GPU:0
TensorFlow version: 2.8.0

In [ ]:
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)
if gpu_info.find('failed') >= 0:
  print('Not connected to a GPU')
else:
  print(gpu_info)

Sun Apr  3 13:53:25 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla P100-PCIE...  Off  | 00000000:00:04.0 Off |                    0 |
| N/A   36C    P0    32W / 250W |    375MiB / 16280MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [ ]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 54.8 gigabytes of available RAM

You are using a high-RAM runtime!

##Run_20151113_20161113

In [ ]:
varb = 'pcpn'   # Weather variable to get
csvbs = 'pcpn'   # Base name of csv to output
start = '20151113'   # Start date
end = '20161113'   # End date
outf = csvbs + '_' + start + '_' + end + '.csv'   # Filename of csv
outfdr = "/content/drive/MyDrive/Modules/Module_30_Capstone_4_Final_project/weather_data/"

In [ ]:
# ACIS-WS Sample Code

#Set ACIS data server
base_url = "http://data.rcc-acis.org/"
#######################################
#ACIS WebServices functions
#######################################
def make_request(url,params) :
    req = urllib.request.Request(url,
    json.dumps(params).encode('utf-8'),
    {"Content-Type":"application/json"})
    try:
        response = urllib.request.urlopen(req)
        return json.loads(response.read())
    except urllib.error.HTTPError as error:
        if error.code == 400 : print(error.msg)

def GridData(params) :
    return make_request(base_url+"GridData",params)
###################################################
#M A I N
###################################################
if __name__ == "__main__":
    #Set parameters for data request
    params = {
        "bbox" : "-84.820159, 33.842316, -69.928393, 45.305476",
        "sdate" : start,
        "edate" : end,
        "grid" : "1",
        "elems" : [varb],
        "meta" : "ll"
    }
    #Obtain data
    data = GridData(params)

In [ ]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [ ]:
lat = flatten(data['meta']['lat'])
lon = flatten(data['meta']['lon'])
dfa = pd.DataFrame(columns = ['latitude', 'longitude', 'month', 'day', 'year', csvbs])

for dd in np.arange(0, len(data['data'])):

    date = list(np.repeat(data['data'][dd][0], len(lon)))
    print(date[0])

    if date[0][5:7] in ['10', '11', '12']:
        month = [x[5:7] for x in date]
    else:
        month = [x[6:7] for x in date]

    if date[0][8:10] in ['01', '02', '03', '04', '05', '06', '07', '08', '09']:
        day = [x[9:10] for x in date]
    else:
        day = [x[8:10] for x in date]

    year = [x[0:4] for x in date]
    datfl = flatten(data['data'][dd][1])

    dct = {'latitude' : lat,
           'longitude' : lon,
           'month' : month,
           'day' : day,
           'year' : year,
           csvbs : datfl}
    
    dfb = pd.DataFrame(dct)
    dfa = pd.concat([dfa, dfb], ignore_index=True)

2015-11-13
2015-11-14
2015-11-15
2015-11-16
2015-11-17
2015-11-18
2015-11-19
2015-11-20
2015-11-21
2015-11-22
2015-11-23
2015-11-24
2015-11-25
2015-11-26
2015-11-27
2015-11-28
2015-11-29
2015-11-30
2015-12-01
2015-12-02
2015-12-03
2015-12-04
2015-12-05
2015-12-06
2015-12-07
2015-12-08
2015-12-09
2015-12-10
2015-12-11
2015-12-12
2015-12-13
2015-12-14
2015-12-15
2015-12-16
2015-12-17
2015-12-18
2015-12-19
2015-12-20
2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-25
2015-12-26
2015-12-27
2015-12-28
2015-12-29
2015-12-30
2015-12-31
2016-01-01
2016-01-02
2016-01-03
2016-01-04
2016-01-05
2016-01-06
2016-01-07
2016-01-08
2016-01-09
2016-01-10
2016-01-11
2016-01-12
2016-01-13
2016-01-14
2016-01-15
2016-01-16
2016-01-17
2016-01-18
2016-01-19
2016-01-20
2016-01-21
2016-01-22
2016-01-23
2016-01-24
2016-01-25
2016-01-26
2016-01-27
2016-01-28
2016-01-29
2016-01-30
2016-01-31
2016-02-01
2016-02-02
2016-02-03
2016-02-04
2016-02-05
2016-02-06
2016-02-07
2016-02-08
2016-02-09
2016-02-10
2016-02-11
2016-02-12
2016-02-13
2016-02-14
2016-02-15
2016-02-16
2016-02-17
2016-02-18
2016-02-19
2016-02-20
2016-02-21
2016-02-22
2016-02-23
2016-02-24
2016-02-25
2016-02-26
2016-02-27
2016-02-28
2016-02-29
2016-03-01
2016-03-02
2016-03-03
2016-03-04
2016-03-05
2016-03-06
2016-03-07
2016-03-08
2016-03-09
2016-03-10
2016-03-11
2016-03-12
2016-03-13
2016-03-14
2016-03-15
2016-03-16
2016-03-17
2016-03-18
2016-03-19
2016-03-20
2016-03-21
2016-03-22
2016-03-23
2016-03-24
2016-03-25
2016-03-26
2016-03-27
2016-03-28
2016-03-29
2016-03-30
2016-03-31
2016-04-01
2016-04-02
2016-04-03
2016-04-04
2016-04-05
2016-04-06
2016-04-07
2016-04-08
2016-04-09
2016-04-10
2016-04-11
2016-04-12
2016-04-13
2016-04-14
2016-04-15
2016-04-16
2016-04-17
2016-04-18
2016-04-19
2016-04-20
2016-04-21
2016-04-22
2016-04-23
2016-04-24
2016-04-25
2016-04-26
2016-04-27
2016-04-28
2016-04-29
2016-04-30
2016-05-01
2016-05-02
2016-05-03
2016-05-04
2016-05-05
2016-05-06
2016-05-07
2016-05-08
2016-05-09
2016-05-10
2016-05-11
2016-05-12
2016-05-13
2016-05-14
2016-05-15
2016-05-16
2016-05-17
2016-05-18
2016-05-19
2016-05-20
2016-05-21
2016-05-22
2016-05-23
2016-05-24
2016-05-25
2016-05-26
2016-05-27
2016-05-28
2016-05-29
2016-05-30
2016-05-31
2016-06-01
2016-06-02
2016-06-03
2016-06-04
2016-06-05
2016-06-06
2016-06-07
2016-06-08
2016-06-09
2016-06-10
2016-06-11
2016-06-12
2016-06-13
2016-06-14
2016-06-15
2016-06-16
2016-06-17
2016-06-18
2016-06-19
2016-06-20
2016-06-21
2016-06-22
2016-06-23
2016-06-24
2016-06-25
2016-06-26
2016-06-27
2016-06-28
2016-06-29
2016-06-30
2016-07-01
2016-07-02
2016-07-03
2016-07-04
2016-07-05
2016-07-06
2016-07-07
2016-07-08
2016-07-09
2016-07-10
2016-07-11
2016-07-12
2016-07-13
2016-07-14
2016-07-15
2016-07-16
2016-07-17
2016-07-18
2016-07-19
2016-07-20
2016-07-21
2016-07-22
2016-07-23
2016-07-24
2016-07-25
2016-07-26
2016-07-27
2016-07-28
2016-07-29
2016-07-30
2016-07-31
2016-08-01
2016-08-02
2016-08-03
2016-08-04
2016-08-05
2016-08-06
2016-08-07
2016-08-08
2016-08-09
2016-08-10
2016-08-11
2016-08-12
2016-08-13
2016-08-14
2016-08-15
2016-08-16
2016-08-17
2016-08-18
2016-08-19
2016-08-20
2016-08-21
2016-08-22
2016-08-23
2016-08-24
2016-08-25
2016-08-26
2016-08-27
2016-08-28
2016-08-29
2016-08-30
2016-08-31
2016-09-01
2016-09-02
2016-09-03
2016-09-04
2016-09-05
2016-09-06
2016-09-07
2016-09-08
2016-09-09
2016-09-10
2016-09-11
2016-09-12
2016-09-13
2016-09-14
2016-09-15
2016-09-16
2016-09-17
2016-09-18
2016-09-19
2016-09-20
2016-09-21
2016-09-22
2016-09-23
2016-09-24
2016-09-25
2016-09-26
2016-09-27
2016-09-28
2016-09-29
2016-09-30
2016-10-01
2016-10-02
2016-10-03
2016-10-04
2016-10-05
2016-10-06
2016-10-07
2016-10-08
2016-10-09
2016-10-10
2016-10-11
2016-10-12
2016-10-13
2016-10-14
2016-10-15
2016-10-16
2016-10-17
2016-10-18
2016-10-19
2016-10-20
2016-10-21
2016-10-22
2016-10-23
2016-10-24
2016-10-25
2016-10-26
2016-10-27
2016-10-28
2016-10-29
2016-10-30
2016-10-31
2016-11-01
2016-11-02
2016-11-03
2016-11-04
2016-11-05
2016-11-06
2016-11-07
2016-11-08
2016-11-09
2016-11-10
2016-11-11
2016-11-12
2016-11-13

In [ ]:
dfa.head()

    latitude  longitude month day  year  pcpn
0  33.833333 -84.833333    11  13  2015  0.00
1  33.833333 -84.791667    11  13  2015  0.01
2  33.833333 -84.750000    11  13  2015  0.01
3  33.833333 -84.708333    11  13  2015  0.01
4  33.833333 -84.666667    11  13  2015  0.00

In [ ]:
dfa.tail()

           latitude  longitude month day  year  pcpn
36495576  45.333333 -70.083333    11  13  2016   0.0
36495577  45.333333 -70.041667    11  13  2016   0.0
36495578  45.333333 -70.000000    11  13  2016   0.0
36495579  45.333333 -69.958333    11  13  2016   0.0
36495580  45.333333 -69.916667    11  13  2016   0.0

In [ ]:
dfa.to_csv(outfdr + outf)

##Run_20161114_20171114

In [ ]:
varb = 'pcpn'   # Weather variable to get
csvbs = 'pcpn'   # Base name of csv to output
start = '20161114'   # Start date
end = '20171114'   # End date
outf = csvbs + '_' + start + '_' + end + '.csv'   # Filename of csv
outfdr = "/content/drive/MyDrive/Modules/Module_30_Capstone_4_Final_project/weather_data/"

In [ ]:
# ACIS-WS Sample Code

#Set ACIS data server
base_url = "http://data.rcc-acis.org/"
#######################################
#ACIS WebServices functions
#######################################
def make_request(url,params) :
    req = urllib.request.Request(url,
    json.dumps(params).encode('utf-8'),
    {"Content-Type":"application/json"})
    try:
        response = urllib.request.urlopen(req)
        return json.loads(response.read())
    except urllib.error.HTTPError as error:
        if error.code == 400 : print(error.msg)

def GridData(params) :
    return make_request(base_url+"GridData",params)
###################################################
#M A I N
###################################################
if __name__ == "__main__":
    #Set parameters for data request
    params = {
        "bbox" : "-84.820159, 33.842316, -69.928393, 45.305476",
        "sdate" : start,
        "edate" : end,
        "grid" : "1",
        "elems" : [varb],
        "meta" : "ll"
    }
    #Obtain data
    data = GridData(params)

In [ ]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [ ]:
lat = flatten(data['meta']['lat'])
lon = flatten(data['meta']['lon'])
dfa = pd.DataFrame(columns = ['latitude', 'longitude', 'month', 'day', 'year', csvbs])

for dd in np.arange(0, len(data['data'])):

    date = list(np.repeat(data['data'][dd][0], len(lon)))
    print(date[0])

    if date[0][5:7] in ['10', '11', '12']:
        month = [x[5:7] for x in date]
    else:
        month = [x[6:7] for x in date]

    if date[0][8:10] in ['01', '02', '03', '04', '05', '06', '07', '08', '09']:
        day = [x[9:10] for x in date]
    else:
        day = [x[8:10] for x in date]

    year = [x[0:4] for x in date]
    datfl = flatten(data['data'][dd][1])

    dct = {'latitude' : lat,
           'longitude' : lon,
           'month' : month,
           'day' : day,
           'year' : year,
           csvbs : datfl}
    
    dfb = pd.DataFrame(dct)
    dfa = pd.concat([dfa, dfb], ignore_index=True)

2016-11-14
2016-11-15
2016-11-16
2016-11-17
2016-11-18
2016-11-19
2016-11-20
2016-11-21
2016-11-22
2016-11-23
2016-11-24
2016-11-25
2016-11-26
2016-11-27
2016-11-28
2016-11-29
2016-11-30
2016-12-01
2016-12-02
2016-12-03
2016-12-04
2016-12-05
2016-12-06
2016-12-07
2016-12-08
2016-12-09
2016-12-10
2016-12-11
2016-12-12
2016-12-13
2016-12-14
2016-12-15
2016-12-16
2016-12-17
2016-12-18
2016-12-19
2016-12-20
2016-12-21
2016-12-22
2016-12-23
2016-12-24
2016-12-25
2016-12-26
2016-12-27
2016-12-28
2016-12-29
2016-12-30
2016-12-31
2017-01-01
2017-01-02
2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-07
2017-01-08
2017-01-09
2017-01-10
2017-01-11
2017-01-12
2017-01-13
2017-01-14
2017-01-15
2017-01-16
2017-01-17
2017-01-18
2017-01-19
2017-01-20
2017-01-21
2017-01-22
2017-01-23
2017-01-24
2017-01-25
2017-01-26
2017-01-27
2017-01-28
2017-01-29
2017-01-30
2017-01-31
2017-02-01
2017-02-02
2017-02-03
2017-02-04
2017-02-05
2017-02-06
2017-02-07
2017-02-08
2017-02-09
2017-02-10
2017-02-11
2017-02-12
2017-02-13
2017-02-14
2017-02-15
2017-02-16
2017-02-17
2017-02-18
2017-02-19
2017-02-20
2017-02-21
2017-02-22
2017-02-23
2017-02-24
2017-02-25
2017-02-26
2017-02-27
2017-02-28
2017-03-01
2017-03-02
2017-03-03
2017-03-04
2017-03-05
2017-03-06
2017-03-07
2017-03-08
2017-03-09
2017-03-10
2017-03-11
2017-03-12
2017-03-13
2017-03-14
2017-03-15
2017-03-16
2017-03-17
2017-03-18
2017-03-19
2017-03-20
2017-03-21
2017-03-22
2017-03-23
2017-03-24
2017-03-25
2017-03-26
2017-03-27
2017-03-28
2017-03-29
2017-03-30
2017-03-31
2017-04-01
2017-04-02
2017-04-03
2017-04-04
2017-04-05
2017-04-06
2017-04-07
2017-04-08
2017-04-09
2017-04-10
2017-04-11
2017-04-12
2017-04-13
2017-04-14
2017-04-15
2017-04-16
2017-04-17
2017-04-18
2017-04-19
2017-04-20
2017-04-21
2017-04-22
2017-04-23
2017-04-24
2017-04-25
2017-04-26
2017-04-27
2017-04-28
2017-04-29
2017-04-30
2017-05-01
2017-05-02
2017-05-03
2017-05-04
2017-05-05
2017-05-06
2017-05-07
2017-05-08
2017-05-09
2017-05-10
2017-05-11
2017-05-12
2017-05-13
2017-05-14
2017-05-15
2017-05-16
2017-05-17
2017-05-18
2017-05-19
2017-05-20
2017-05-21
2017-05-22
2017-05-23
2017-05-24
2017-05-25
2017-05-26
2017-05-27
2017-05-28
2017-05-29
2017-05-30
2017-05-31
2017-06-01
2017-06-02
2017-06-03
2017-06-04
2017-06-05
2017-06-06
2017-06-07
2017-06-08
2017-06-09
2017-06-10
2017-06-11
2017-06-12
2017-06-13
2017-06-14
2017-06-15
2017-06-16
2017-06-17
2017-06-18
2017-06-19
2017-06-20
2017-06-21
2017-06-22
2017-06-23
2017-06-24
2017-06-25
2017-06-26
2017-06-27
2017-06-28
2017-06-29
2017-06-30
2017-07-01
2017-07-02
2017-07-03
2017-07-04
2017-07-05
2017-07-06
2017-07-07
2017-07-08
2017-07-09
2017-07-10
2017-07-11
2017-07-12
2017-07-13
2017-07-14
2017-07-15
2017-07-16
2017-07-17
2017-07-18
2017-07-19
2017-07-20
2017-07-21
2017-07-22
2017-07-23
2017-07-24
2017-07-25
2017-07-26
2017-07-27
2017-07-28
2017-07-29
2017-07-30
2017-07-31
2017-08-01
2017-08-02
2017-08-03
2017-08-04
2017-08-05
2017-08-06
2017-08-07
2017-08-08
2017-08-09
2017-08-10
2017-08-11
2017-08-12
2017-08-13
2017-08-14
2017-08-15
2017-08-16
2017-08-17
2017-08-18
2017-08-19
2017-08-20
2017-08-21
2017-08-22
2017-08-23
2017-08-24
2017-08-25
2017-08-26
2017-08-27
2017-08-28
2017-08-29
2017-08-30
2017-08-31
2017-09-01
2017-09-02
2017-09-03
2017-09-04
2017-09-05
2017-09-06
2017-09-07
2017-09-08
2017-09-09
2017-09-10
2017-09-11
2017-09-12
2017-09-13
2017-09-14
2017-09-15
2017-09-16
2017-09-17
2017-09-18
2017-09-19
2017-09-20
2017-09-21
2017-09-22
2017-09-23
2017-09-24
2017-09-25
2017-09-26
2017-09-27
2017-09-28
2017-09-29
2017-09-30
2017-10-01
2017-10-02
2017-10-03
2017-10-04
2017-10-05
2017-10-06
2017-10-07
2017-10-08
2017-10-09
2017-10-10
2017-10-11
2017-10-12
2017-10-13
2017-10-14
2017-10-15
2017-10-16
2017-10-17
2017-10-18
2017-10-19
2017-10-20
2017-10-21
2017-10-22
2017-10-23
2017-10-24
2017-10-25
2017-10-26
2017-10-27
2017-10-28
2017-10-29
2017-10-30
2017-10-31
2017-11-01
2017-11-02
2017-11-03
2017-11-04
2017-11-05
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-11
2017-11-12
2017-11-13
2017-11-14

In [ ]:
dfa.head()

    latitude  longitude month day  year  pcpn
0  33.833333 -84.833333    11  14  2016   0.0
1  33.833333 -84.791667    11  14  2016   0.0
2  33.833333 -84.750000    11  14  2016   0.0
3  33.833333 -84.708333    11  14  2016   0.0
4  33.833333 -84.666667    11  14  2016   0.0

In [ ]:
dfa.tail()

           latitude  longitude month day  year  pcpn
36396133  45.333333 -70.083333    11  14  2017   0.0
36396134  45.333333 -70.041667    11  14  2017   0.0
36396135  45.333333 -70.000000    11  14  2017   0.0
36396136  45.333333 -69.958333    11  14  2017   0.0
36396137  45.333333 -69.916667    11  14  2017   0.0

In [ ]:
dfa.to_csv(outfdr + outf)

##Run_20171115_20181115

In [ ]:
varb = 'pcpn'   # Weather variable to get
csvbs = 'pcpn'   # Base name of csv to output
start = '20171115'   # Start date
end = '20181115'   # End date
outf = csvbs + '_' + start + '_' + end + '.csv'   # Filename of csv
outfdr = "/content/drive/MyDrive/Modules/Module_30_Capstone_4_Final_project/weather_data/"

In [ ]:
# ACIS-WS Sample Code

#Set ACIS data server
base_url = "http://data.rcc-acis.org/"
#######################################
#ACIS WebServices functions
#######################################
def make_request(url,params) :
    req = urllib.request.Request(url,
    json.dumps(params).encode('utf-8'),
    {"Content-Type":"application/json"})
    try:
        response = urllib.request.urlopen(req)
        return json.loads(response.read())
    except urllib.error.HTTPError as error:
        if error.code == 400 : print(error.msg)

def GridData(params) :
    return make_request(base_url+"GridData",params)
###################################################
#M A I N
###################################################
if __name__ == "__main__":
    #Set parameters for data request
    params = {
        "bbox" : "-84.820159, 33.842316, -69.928393, 45.305476",
        "sdate" : start,
        "edate" : end,
        "grid" : "1",
        "elems" : [varb],
        "meta" : "ll"
    }
    #Obtain data
    data = GridData(params)

In [ ]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [ ]:
lat = flatten(data['meta']['lat'])
lon = flatten(data['meta']['lon'])
dfa = pd.DataFrame(columns = ['latitude', 'longitude', 'month', 'day', 'year', csvbs])

for dd in np.arange(0, len(data['data'])):

    date = list(np.repeat(data['data'][dd][0], len(lon)))
    print(date[0])

    if date[0][5:7] in ['10', '11', '12']:
        month = [x[5:7] for x in date]
    else:
        month = [x[6:7] for x in date]

    if date[0][8:10] in ['01', '02', '03', '04', '05', '06', '07', '08', '09']:
        day = [x[9:10] for x in date]
    else:
        day = [x[8:10] for x in date]

    year = [x[0:4] for x in date]
    datfl = flatten(data['data'][dd][1])

    dct = {'latitude' : lat,
           'longitude' : lon,
           'month' : month,
           'day' : day,
           'year' : year,
           csvbs : datfl}
    
    dfb = pd.DataFrame(dct)
    dfa = pd.concat([dfa, dfb], ignore_index=True)

2017-11-15
2017-11-16
2017-11-17
2017-11-18
2017-11-19
2017-11-20
2017-11-21
2017-11-22
2017-11-23
2017-11-24
2017-11-25
2017-11-26
2017-11-27
2017-11-28
2017-11-29
2017-11-30
2017-12-01
2017-12-02
2017-12-03
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-09
2017-12-10
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-16
2017-12-17
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-23
2017-12-24
2017-12-25
2017-12-26
2017-12-27
2017-12-28
2017-12-29
2017-12-30
2017-12-31
2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-13
2018-01-14
2018-01-15
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-20
2018-01-21
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-27
2018-01-28
2018-01-29
2018-01-30
2018-01-31
2018-02-01
2018-02-02
2018-02-03
2018-02-04
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-10
2018-02-11
2018-02-12
2018-02-13
2018-02-14
2018-02-15
2018-02-16
2018-02-17
2018-02-18
2018-02-19
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-24
2018-02-25
2018-02-26
2018-02-27
2018-02-28
2018-03-01
2018-03-02
2018-03-03
2018-03-04
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-10
2018-03-11
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-17
2018-03-18
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-24
2018-03-25
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-03-30
2018-03-31
2018-04-01
2018-04-02
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-07
2018-04-08
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-14
2018-04-15
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-21
2018-04-22
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-04-28
2018-04-29
2018-04-30
2018-05-01
2018-05-02
2018-05-03
2018-05-04
2018-05-05
2018-05-06
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-12
2018-05-13
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-19
2018-05-20
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-26
2018-05-27
2018-05-28
2018-05-29
2018-05-30
2018-05-31
2018-06-01
2018-06-02
2018-06-03
2018-06-04
2018-06-05
2018-06-06
2018-06-07
2018-06-08
2018-06-09
2018-06-10
2018-06-11
2018-06-12
2018-06-13
2018-06-14
2018-06-15
2018-06-16
2018-06-17
2018-06-18
2018-06-19
2018-06-20
2018-06-21
2018-06-22
2018-06-23
2018-06-24
2018-06-25
2018-06-26
2018-06-27
2018-06-28
2018-06-29
2018-06-30
2018-07-01
2018-07-02
2018-07-03
2018-07-04
2018-07-05
2018-07-06
2018-07-07
2018-07-08
2018-07-09
2018-07-10
2018-07-11
2018-07-12
2018-07-13
2018-07-14
2018-07-15
2018-07-16
2018-07-17
2018-07-18
2018-07-19
2018-07-20
2018-07-21
2018-07-22
2018-07-23
2018-07-24
2018-07-25
2018-07-26
2018-07-27
2018-07-28
2018-07-29
2018-07-30
2018-07-31
2018-08-01
2018-08-02
2018-08-03
2018-08-04
2018-08-05
2018-08-06
2018-08-07
2018-08-08
2018-08-09
2018-08-10
2018-08-11
2018-08-12
2018-08-13
2018-08-14
2018-08-15
2018-08-16
2018-08-17
2018-08-18
2018-08-19
2018-08-20
2018-08-21
2018-08-22
2018-08-23
2018-08-24
2018-08-25
2018-08-26
2018-08-27
2018-08-28
2018-08-29
2018-08-30
2018-08-31
2018-09-01
2018-09-02
2018-09-03
2018-09-04
2018-09-05
2018-09-06
2018-09-07
2018-09-08
2018-09-09
2018-09-10
2018-09-11
2018-09-12
2018-09-13
2018-09-14
2018-09-15
2018-09-16
2018-09-17
2018-09-18
2018-09-19
2018-09-20
2018-09-21
2018-09-22
2018-09-23
2018-09-24
2018-09-25
2018-09-26
2018-09-27
2018-09-28
2018-09-29
2018-09-30
2018-10-01
2018-10-02
2018-10-03
2018-10-04
2018-10-05
2018-10-06
2018-10-07
2018-10-08
2018-10-09
2018-10-10
2018-10-11
2018-10-12
2018-10-13
2018-10-14
2018-10-15
2018-10-16
2018-10-17
2018-10-18
2018-10-19
2018-10-20
2018-10-21
2018-10-22
2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-27
2018-10-28
2018-10-29
2018-10-30
2018-10-31
2018-11-01
2018-11-02
2018-11-03
2018-11-04
2018-11-05
2018-11-06
2018-11-07
2018-11-08
2018-11-09
2018-11-10
2018-11-11
2018-11-12
2018-11-13
2018-11-14
2018-11-15

In [ ]:
dfa.head()

    latitude  longitude month day  year  pcpn
0  33.833333 -84.833333    11  15  2017   0.0
1  33.833333 -84.791667    11  15  2017   0.0
2  33.833333 -84.750000    11  15  2017   0.0
3  33.833333 -84.708333    11  15  2017   0.0
4  33.833333 -84.666667    11  15  2017   0.0

In [ ]:
dfa.tail()

           latitude  longitude month day  year  pcpn
36396133  45.333333 -70.083333    11  15  2018   0.0
36396134  45.333333 -70.041667    11  15  2018   0.0
36396135  45.333333 -70.000000    11  15  2018   0.0
36396136  45.333333 -69.958333    11  15  2018   0.0
36396137  45.333333 -69.916667    11  15  2018   0.0

In [ ]:
dfa.to_csv(outfdr + outf)

##Run_20181116_20191116

In [ ]:
varb = 'pcpn'   # Weather variable to get
csvbs = 'pcpn'   # Base name of csv to output
start = '20181116'   # Start date
end = '20191116'   # End date
outf = csvbs + '_' + start + '_' + end + '.csv'   # Filename of csv
outfdr = "/content/drive/MyDrive/Modules/Module_30_Capstone_4_Final_project/weather_data/"

In [ ]:
# ACIS-WS Sample Code

#Set ACIS data server
base_url = "http://data.rcc-acis.org/"
#######################################
#ACIS WebServices functions
#######################################
def make_request(url,params) :
    req = urllib.request.Request(url,
    json.dumps(params).encode('utf-8'),
    {"Content-Type":"application/json"})
    try:
        response = urllib.request.urlopen(req)
        return json.loads(response.read())
    except urllib.error.HTTPError as error:
        if error.code == 400 : print(error.msg)

def GridData(params) :
    return make_request(base_url+"GridData",params)
###################################################
#M A I N
###################################################
if __name__ == "__main__":
    #Set parameters for data request
    params = {
        "bbox" : "-84.820159, 33.842316, -69.928393, 45.305476",
        "sdate" : start,
        "edate" : end,
        "grid" : "1",
        "elems" : [varb],
        "meta" : "ll"
    }
    #Obtain data
    data = GridData(params)

In [ ]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [ ]:
lat = flatten(data['meta']['lat'])
lon = flatten(data['meta']['lon'])
dfa = pd.DataFrame(columns = ['latitude', 'longitude', 'month', 'day', 'year', csvbs])

for dd in np.arange(0, len(data['data'])):

    date = list(np.repeat(data['data'][dd][0], len(lon)))
    print(date[0])

    if date[0][5:7] in ['10', '11', '12']:
        month = [x[5:7] for x in date]
    else:
        month = [x[6:7] for x in date]

    if date[0][8:10] in ['01', '02', '03', '04', '05', '06', '07', '08', '09']:
        day = [x[9:10] for x in date]
    else:
        day = [x[8:10] for x in date]

    year = [x[0:4] for x in date]
    datfl = flatten(data['data'][dd][1])

    dct = {'latitude' : lat,
           'longitude' : lon,
           'month' : month,
           'day' : day,
           'year' : year,
           csvbs : datfl}
    
    dfb = pd.DataFrame(dct)
    dfa = pd.concat([dfa, dfb], ignore_index=True)

2018-11-16
2018-11-17
2018-11-18
2018-11-19
2018-11-20
2018-11-21
2018-11-22
2018-11-23
2018-11-24
2018-11-25
2018-11-26
2018-11-27
2018-11-28
2018-11-29
2018-11-30
2018-12-01
2018-12-02
2018-12-03
2018-12-04
2018-12-05
2018-12-06
2018-12-07
2018-12-08
2018-12-09
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-15
2018-12-16
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-22
2018-12-23
2018-12-24
2018-12-25
2018-12-26
2018-12-27
2018-12-28
2018-12-29
2018-12-30
2018-12-31
2019-01-01
2019-01-02
2019-01-03
2019-01-04
2019-01-05
2019-01-06
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-12
2019-01-13
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-19
2019-01-20
2019-01-21
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-26
2019-01-27
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-02-01
2019-02-02
2019-02-03
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-16
2019-02-17
2019-02-18
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-23
2019-02-24
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-03-01
2019-03-02
2019-03-03
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-09
2019-03-10
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-16
2019-03-17
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-23
2019-03-24
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-03-29
2019-03-30
2019-03-31
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-06
2019-04-07
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-13
2019-04-14
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-19
2019-04-20
2019-04-21
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-27
2019-04-28
2019-04-29
2019-04-30
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17
2019-05-18
2019-05-19
2019-05-20
2019-05-21
2019-05-22
2019-05-23
2019-05-24
2019-05-25
2019-05-26
2019-05-27
2019-05-28
2019-05-29
2019-05-30
2019-05-31
2019-06-01
2019-06-02
2019-06-03
2019-06-04
2019-06-05
2019-06-06
2019-06-07
2019-06-08
2019-06-09
2019-06-10
2019-06-11
2019-06-12
2019-06-13
2019-06-14
2019-06-15
2019-06-16
2019-06-17
2019-06-18
2019-06-19
2019-06-20
2019-06-21
2019-06-22
2019-06-23
2019-06-24
2019-06-25
2019-06-26
2019-06-27
2019-06-28
2019-06-29
2019-06-30
2019-07-01
2019-07-02
2019-07-03
2019-07-04
2019-07-05
2019-07-06
2019-07-07
2019-07-08
2019-07-09
2019-07-10
2019-07-11
2019-07-12
2019-07-13
2019-07-14
2019-07-15
2019-07-16
2019-07-17
2019-07-18
2019-07-19
2019-07-20
2019-07-21
2019-07-22
2019-07-23
2019-07-24
2019-07-25
2019-07-26
2019-07-27
2019-07-28
2019-07-29
2019-07-30
2019-07-31
2019-08-01
2019-08-02
2019-08-03
2019-08-04
2019-08-05
2019-08-06
2019-08-07
2019-08-08
2019-08-09
2019-08-10
2019-08-11
2019-08-12
2019-08-13
2019-08-14
2019-08-15
2019-08-16
2019-08-17
2019-08-18
2019-08-19
2019-08-20
2019-08-21
2019-08-22
2019-08-23
2019-08-24
2019-08-25
2019-08-26
2019-08-27
2019-08-28
2019-08-29
2019-08-30
2019-08-31
2019-09-01
2019-09-02
2019-09-03
2019-09-04
2019-09-05
2019-09-06
2019-09-07
2019-09-08
2019-09-09
2019-09-10
2019-09-11
2019-09-12
2019-09-13
2019-09-14
2019-09-15
2019-09-16
2019-09-17
2019-09-18
2019-09-19
2019-09-20
2019-09-21
2019-09-22
2019-09-23
2019-09-24
2019-09-25
2019-09-26
2019-09-27
2019-09-28
2019-09-29
2019-09-30
2019-10-01
2019-10-02
2019-10-03
2019-10-04
2019-10-05
2019-10-06
2019-10-07
2019-10-08
2019-10-09
2019-10-10
2019-10-11
2019-10-12
2019-10-13
2019-10-14
2019-10-15
2019-10-16
2019-10-17
2019-10-18
2019-10-19
2019-10-20
2019-10-21
2019-10-22
2019-10-23
2019-10-24
2019-10-25
2019-10-26
2019-10-27
2019-10-28
2019-10-29
2019-10-30
2019-10-31
2019-11-01
2019-11-02
2019-11-03
2019-11-04
2019-11-05
2019-11-06
2019-11-07
2019-11-08
2019-11-09
2019-11-10
2019-11-11
2019-11-12
2019-11-13
2019-11-14
2019-11-15
2019-11-16

In [ ]:
dfa.head()

    latitude  longitude month day  year  pcpn
0  33.833333 -84.833333    11  16  2018  0.02
1  33.833333 -84.791667    11  16  2018  0.02
2  33.833333 -84.750000    11  16  2018  0.02
3  33.833333 -84.708333    11  16  2018  0.02
4  33.833333 -84.666667    11  16  2018  0.02

In [ ]:
dfa.tail()

           latitude  longitude month day  year  pcpn
36396133  45.333333 -70.083333    11  16  2019  0.02
36396134  45.333333 -70.041667    11  16  2019  0.02
36396135  45.333333 -70.000000    11  16  2019  0.03
36396136  45.333333 -69.958333    11  16  2019  0.03
36396137  45.333333 -69.916667    11  16  2019  0.04

In [ ]:
dfa.to_csv(outfdr + outf)

##Run_20191117_20201117

In [ ]:
varb = 'pcpn'   # Weather variable to get
csvbs = 'pcpn'   # Base name of csv to output
start = '20191117'   # Start date
end = '20201117'   # End date
outf = csvbs + '_' + start + '_' + end + '.csv'   # Filename of csv
outfdr = "/content/drive/MyDrive/Modules/Module_30_Capstone_4_Final_project/weather_data/"

In [ ]:
# ACIS-WS Sample Code

#Set ACIS data server
base_url = "http://data.rcc-acis.org/"
#######################################
#ACIS WebServices functions
#######################################
def make_request(url,params) :
    req = urllib.request.Request(url,
    json.dumps(params).encode('utf-8'),
    {"Content-Type":"application/json"})
    try:
        response = urllib.request.urlopen(req)
        return json.loads(response.read())
    except urllib.error.HTTPError as error:
        if error.code == 400 : print(error.msg)

def GridData(params) :
    return make_request(base_url+"GridData",params)
###################################################
#M A I N
###################################################
if __name__ == "__main__":
    #Set parameters for data request
    params = {
        "bbox" : "-84.820159, 33.842316, -69.928393, 45.305476",
        "sdate" : start,
        "edate" : end,
        "grid" : "1",
        "elems" : [varb],
        "meta" : "ll"
    }
    #Obtain data
    data = GridData(params)

In [ ]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [ ]:
lat = flatten(data['meta']['lat'])
lon = flatten(data['meta']['lon'])
dfa = pd.DataFrame(columns = ['latitude', 'longitude', 'month', 'day', 'year', csvbs])

for dd in np.arange(0, len(data['data'])):

    date = list(np.repeat(data['data'][dd][0], len(lon)))
    print(date[0])

    if date[0][5:7] in ['10', '11', '12']:
        month = [x[5:7] for x in date]
    else:
        month = [x[6:7] for x in date]

    if date[0][8:10] in ['01', '02', '03', '04', '05', '06', '07', '08', '09']:
        day = [x[9:10] for x in date]
    else:
        day = [x[8:10] for x in date]

    year = [x[0:4] for x in date]
    datfl = flatten(data['data'][dd][1])

    dct = {'latitude' : lat,
           'longitude' : lon,
           'month' : month,
           'day' : day,
           'year' : year,
           csvbs : datfl}
    
    dfb = pd.DataFrame(dct)
    dfa = pd.concat([dfa, dfb], ignore_index=True)

2019-11-17
2019-11-18
2019-11-19
2019-11-20
2019-11-21
2019-11-22
2019-11-23
2019-11-24
2019-11-25
2019-11-26
2019-11-27
2019-11-28
2019-11-29
2019-11-30
2019-12-01
2019-12-02
2019-12-03
2019-12-04
2019-12-05
2019-12-06
2019-12-07
2019-12-08
2019-12-09
2019-12-10
2019-12-11
2019-12-12
2019-12-13
2019-12-14
2019-12-15
2019-12-16
2019-12-17
2019-12-18
2019-12-19
2019-12-20
2019-12-21
2019-12-22
2019-12-23
2019-12-24
2019-12-25
2019-12-26
2019-12-27
2019-12-28
2019-12-29
2019-12-30
2019-12-31
2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-12
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-18
2020-01-19
2020-01-20
2020-01-21
2020-01-22
2020-01-23
2020-01-24
2020-01-25
2020-01-26
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31
2020-02-01
2020-02-02
2020-02-03
2020-02-04
2020-02-05
2020-02-06
2020-02-07
2020-02-08
2020-02-09
2020-02-10
2020-02-11
2020-02-12
2020-02-13
2020-02-14
2020-02-15
2020-02-16
2020-02-17
2020-02-18
2020-02-19
2020-02-20
2020-02-21
2020-02-22
2020-02-23
2020-02-24
2020-02-25
2020-02-26
2020-02-27
2020-02-28
2020-02-29
2020-03-01
2020-03-02
2020-03-03
2020-03-04
2020-03-05
2020-03-06
2020-03-07
2020-03-08
2020-03-09
2020-03-10
2020-03-11
2020-03-12
2020-03-13
2020-03-14
2020-03-15
2020-03-16
2020-03-17
2020-03-18
2020-03-19
2020-03-20
2020-03-21
2020-03-22
2020-03-23
2020-03-24
2020-03-25
2020-03-26
2020-03-27
2020-03-28
2020-03-29
2020-03-30
2020-03-31
2020-04-01
2020-04-02
2020-04-03
2020-04-04
2020-04-05
2020-04-06
2020-04-07
2020-04-08
2020-04-09
2020-04-10
2020-04-11
2020-04-12
2020-04-13
2020-04-14
2020-04-15
2020-04-16
2020-04-17
2020-04-18
2020-04-19
2020-04-20
2020-04-21
2020-04-22
2020-04-23
2020-04-24
2020-04-25
2020-04-26
2020-04-27
2020-04-28
2020-04-29
2020-04-30
2020-05-01
2020-05-02
2020-05-03
2020-05-04
2020-05-05
2020-05-06
2020-05-07
2020-05-08
2020-05-09
2020-05-10
2020-05-11
2020-05-12
2020-05-13
2020-05-14
2020-05-15
2020-05-16
2020-05-17
2020-05-18
2020-05-19
2020-05-20
2020-05-21
2020-05-22
2020-05-23
2020-05-24
2020-05-25
2020-05-26
2020-05-27
2020-05-28
2020-05-29
2020-05-30
2020-05-31
2020-06-01
2020-06-02
2020-06-03
2020-06-04
2020-06-05
2020-06-06
2020-06-07
2020-06-08
2020-06-09
2020-06-10
2020-06-11
2020-06-12
2020-06-13
2020-06-14
2020-06-15
2020-06-16
2020-06-17
2020-06-18
2020-06-19
2020-06-20
2020-06-21
2020-06-22
2020-06-23
2020-06-24
2020-06-25
2020-06-26
2020-06-27
2020-06-28
2020-06-29
2020-06-30
2020-07-01
2020-07-02
2020-07-03
2020-07-04
2020-07-05
2020-07-06
2020-07-07
2020-07-08
2020-07-09
2020-07-10
2020-07-11
2020-07-12
2020-07-13
2020-07-14
2020-07-15
2020-07-16
2020-07-17
2020-07-18
2020-07-19
2020-07-20
2020-07-21
2020-07-22
2020-07-23
2020-07-24
2020-07-25
2020-07-26
2020-07-27
2020-07-28
2020-07-29
2020-07-30
2020-07-31
2020-08-01
2020-08-02
2020-08-03
2020-08-04
2020-08-05
2020-08-06
2020-08-07
2020-08-08
2020-08-09
2020-08-10
2020-08-11
2020-08-12
2020-08-13
2020-08-14
2020-08-15
2020-08-16
2020-08-17
2020-08-18
2020-08-19
2020-08-20
2020-08-21
2020-08-22
2020-08-23
2020-08-24
2020-08-25
2020-08-26
2020-08-27
2020-08-28
2020-08-29
2020-08-30
2020-08-31
2020-09-01
2020-09-02
2020-09-03
2020-09-04
2020-09-05
2020-09-06
2020-09-07
2020-09-08
2020-09-09
2020-09-10
2020-09-11
2020-09-12
2020-09-13
2020-09-14
2020-09-15
2020-09-16
2020-09-17
2020-09-18
2020-09-19
2020-09-20
2020-09-21
2020-09-22
2020-09-23
2020-09-24
2020-09-25
2020-09-26
2020-09-27
2020-09-28
2020-09-29
2020-09-30
2020-10-01
2020-10-02
2020-10-03
2020-10-04
2020-10-05
2020-10-06
2020-10-07
2020-10-08
2020-10-09
2020-10-10
2020-10-11
2020-10-12
2020-10-13
2020-10-14
2020-10-15
2020-10-16
2020-10-17
2020-10-18
2020-10-19
2020-10-20
2020-10-21
2020-10-22
2020-10-23
2020-10-24
2020-10-25
2020-10-26
2020-10-27
2020-10-28
2020-10-29
2020-10-30
2020-10-31
2020-11-01
2020-11-02
2020-11-03
2020-11-04
2020-11-05
2020-11-06
2020-11-07
2020-11-08
2020-11-09
2020-11-10
2020-11-11
2020-11-12
2020-11-13
2020-11-14
2020-11-15
2020-11-16
2020-11-17

In [ ]:
dfa.head()

    latitude  longitude month day  year  pcpn
0  33.833333 -84.833333    11  17  2019   0.0
1  33.833333 -84.791667    11  17  2019   0.0
2  33.833333 -84.750000    11  17  2019   0.0
3  33.833333 -84.708333    11  17  2019   0.0
4  33.833333 -84.666667    11  17  2019   0.0

In [ ]:
dfa.tail()

           latitude  longitude month day  year  pcpn
36495576  45.333333 -70.083333    11  17  2020  0.02
36495577  45.333333 -70.041667    11  17  2020  0.02
36495578  45.333333 -70.000000    11  17  2020  0.01
36495579  45.333333 -69.958333    11  17  2020  0.01
36495580  45.333333 -69.916667    11  17  2020  0.01

In [ ]:
dfa.to_csv(outfdr + outf)

##Run_20201118_20210429

In [ ]:
varb = 'pcpn'   # Weather variable to get
csvbs = 'pcpn'   # Base name of csv to output
start = '20201118'   # Start date
end = '20210429'   # End date
outf = csvbs + '_' + start + '_' + end + '.csv'   # Filename of csv
outfdr = "/content/drive/MyDrive/Modules/Module_30_Capstone_4_Final_project/weather_data/"

In [ ]:
# ACIS-WS Sample Code

#Set ACIS data server
base_url = "http://data.rcc-acis.org/"
#######################################
#ACIS WebServices functions
#######################################
def make_request(url,params) :
    req = urllib.request.Request(url,
    json.dumps(params).encode('utf-8'),
    {"Content-Type":"application/json"})
    try:
        response = urllib.request.urlopen(req)
        return json.loads(response.read())
    except urllib.error.HTTPError as error:
        if error.code == 400 : print(error.msg)

def GridData(params) :
    return make_request(base_url+"GridData",params)
###################################################
#M A I N
###################################################
if __name__ == "__main__":
    #Set parameters for data request
    params = {
        "bbox" : "-84.820159, 33.842316, -69.928393, 45.305476",
        "sdate" : start,
        "edate" : end,
        "grid" : "1",
        "elems" : [varb],
        "meta" : "ll"
    }
    #Obtain data
    data = GridData(params)

In [ ]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [ ]:
lat = flatten(data['meta']['lat'])
lon = flatten(data['meta']['lon'])
dfa = pd.DataFrame(columns = ['latitude', 'longitude', 'month', 'day', 'year', csvbs])

for dd in np.arange(0, len(data['data'])):

    date = list(np.repeat(data['data'][dd][0], len(lon)))
    print(date[0])

    if date[0][5:7] in ['10', '11', '12']:
        month = [x[5:7] for x in date]
    else:
        month = [x[6:7] for x in date]

    if date[0][8:10] in ['01', '02', '03', '04', '05', '06', '07', '08', '09']:
        day = [x[9:10] for x in date]
    else:
        day = [x[8:10] for x in date]

    year = [x[0:4] for x in date]
    datfl = flatten(data['data'][dd][1])

    dct = {'latitude' : lat,
           'longitude' : lon,
           'month' : month,
           'day' : day,
           'year' : year,
           csvbs : datfl}
    
    dfb = pd.DataFrame(dct)
    dfa = pd.concat([dfa, dfb], ignore_index=True)

2020-11-18
2020-11-19
2020-11-20
2020-11-21
2020-11-22
2020-11-23
2020-11-24
2020-11-25
2020-11-26
2020-11-27
2020-11-28
2020-11-29
2020-11-30
2020-12-01
2020-12-02
2020-12-03
2020-12-04
2020-12-05
2020-12-06
2020-12-07
2020-12-08
2020-12-09
2020-12-10
2020-12-11
2020-12-12
2020-12-13
2020-12-14
2020-12-15
2020-12-16
2020-12-17
2020-12-18
2020-12-19
2020-12-20
2020-12-21
2020-12-22
2020-12-23
2020-12-24
2020-12-25
2020-12-26
2020-12-27
2020-12-28
2020-12-29
2020-12-30
2020-12-31
2021-01-01
2021-01-02
2021-01-03
2021-01-04
2021-01-05
2021-01-06
2021-01-07
2021-01-08
2021-01-09
2021-01-10
2021-01-11
2021-01-12
2021-01-13
2021-01-14
2021-01-15
2021-01-16
2021-01-17
2021-01-18
2021-01-19
2021-01-20
2021-01-21
2021-01-22
2021-01-23
2021-01-24
2021-01-25
2021-01-26
2021-01-27
2021-01-28
2021-01-29
2021-01-30
2021-01-31
2021-02-01
2021-02-02
2021-02-03
2021-02-04
2021-02-05
2021-02-06
2021-02-07
2021-02-08
2021-02-09
2021-02-10
2021-02-11
2021-02-12
2021-02-13
2021-02-14
2021-02-15
2021-02-16
2021-02-17
2021-02-18
2021-02-19
2021-02-20
2021-02-21
2021-02-22
2021-02-23
2021-02-24
2021-02-25
2021-02-26
2021-02-27
2021-02-28
2021-03-01
2021-03-02
2021-03-03
2021-03-04
2021-03-05
2021-03-06
2021-03-07
2021-03-08
2021-03-09
2021-03-10
2021-03-11
2021-03-12
2021-03-13
2021-03-14
2021-03-15
2021-03-16
2021-03-17
2021-03-18
2021-03-19
2021-03-20
2021-03-21
2021-03-22
2021-03-23
2021-03-24
2021-03-25
2021-03-26
2021-03-27
2021-03-28
2021-03-29
2021-03-30
2021-03-31
2021-04-01
2021-04-02
2021-04-03
2021-04-04
2021-04-05
2021-04-06
2021-04-07
2021-04-08
2021-04-09
2021-04-10
2021-04-11
2021-04-12
2021-04-13
2021-04-14
2021-04-15
2021-04-16
2021-04-17
2021-04-18
2021-04-19
2021-04-20
2021-04-21
2021-04-22
2021-04-23
2021-04-24
2021-04-25
2021-04-26
2021-04-27
2021-04-28
2021-04-29

In [ ]:
dfa.head()

    latitude  longitude month day  year  pcpn
0  33.833333 -84.833333    11  18  2020   0.0
1  33.833333 -84.791667    11  18  2020   0.0
2  33.833333 -84.750000    11  18  2020   0.0
3  33.833333 -84.708333    11  18  2020   0.0
4  33.833333 -84.666667    11  18  2020   0.0

In [ ]:
dfa.tail()

           latitude  longitude month day  year  pcpn
16209204  45.333333 -70.083333     4  29  2021   0.0
16209205  45.333333 -70.041667     4  29  2021   0.0
16209206  45.333333 -70.000000     4  29  2021   0.0
16209207  45.333333 -69.958333     4  29  2021   0.0
16209208  45.333333 -69.916667     4  29  2021   0.0

In [ ]:
dfa.to_csv(outfdr + outf)